{% extends "base.html" %}
{% block content %}
<div id="intro">
    <div class="images">
      <div class="jo_small"><img  class="joash" src="/assets/images/jo_small.jpg"> <img  class="bow"src="/assets/images/bow.svg"> <div class="name">Joash Ivan Moodley</div></div>
      <div class="and"><img src="/assets/images/and.svg"></div>
      <div class="tams_small"><img class="tammy" src="/assets/images/tam_small.jpg"> <img  class="flower"src="/assets/images/rose.svg"><div class="name">Corinne Tamsin Pungawanum</div></div>
  </div>
  <div class="text_1">Are getting married</div>
  <div class="text_2">on 17 December, 2017 </div>
</div>

<div class="clearfix"></div>

<div id="count_down">
  <div class="heading">Countdown</div>
<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>
</div>

<div class="clearfix"></div>

<div id="bride_groom">
    <div class="heading">Bride &amp; Groom</div>
    <div class=" grid_12">
      <div class="jo_big"><img  src="/assets/images/jo_big.jpg" width="100%"></div>
      <div class="text_jo">
          <div class="name">Joash Ivan Moodley</div>
          <div class="bio">Fixie kitsch tbh pinterest venmo subway tile hoodie meditation heirloom hashtag 3 wolf moon. Meditation quinoa etsy, messenger bag lomo sriracha lyft 8-bit. Slow-carb post-ironic gochujang yuccie ennui heirloom. Intelligentsia besp</div>
      </div>
      <div class="tams_big"><img  src="/assets/images/tams_big.jpg" width="100%"></div>
      <div class="text_tams">
          <div class="name">Corinne Tamsin Pungawanum</div>
          <div class="bio">Fixie kitsch tbh pinterest venmo subway tile hoodie meditation heirloom hashtag 3 wolf moon. Meditation quinoa etsy, messenger bag lomo sriracha lyft 8-bit. Slow-carb post-ironic gochujang yuccie ennui heirloom. Intelligentsia besp</div>
      </div>
    </div>
  <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div id="when">
        <div class="heading">When &amp; Where</div>
        <div class="details"><span style="font-weight:bold;">2:00pm</span><br><br><span style="font-weight:bold;">Greensleeves</span><br>Camelot Castle<br>1 Widhart Road,<br>Hillcrest</div>
</div>
<div class="clearfix"></div>
<div id="map_details">
    
        <a href="https://www.google.co.za/maps/dir/''/GREENSLEEVES+AT+CAMELOT,+21+Wishart+Rd,+Albany,+Hillcrest,+3610/@-29.7631265,30.7020465,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x1ef6fb10d695b8d3:0xa302f266b4c46e75!2m2!1d30.7720867!2d-29.7631449" class="gradient" target="_blank"></a>
  <div class="clearfix"></div>
        <a href="https://www.google.co.za/maps/dir/''/GREENSLEEVES+AT+CAMELOT,+21+Wishart+Rd,+Albany,+Hillcrest,+3610/@-29.7631265,30.7020465,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x1ef6fb10d695b8d3:0xa302f266b4c46e75!2m2!1d30.7720867!2d-29.7631449" target="_blank" id="map"></a>
</div>

<div class="clearfix"></div>
<div id="rsvp">
    <div class="heading">Rsvp</div>
    <div class="message">
      <div class="icon"><img src="/assets/images/rsvp.svg"/></div>
      <div class="paragraph">Please scan the QR Code on your invite to confirm your attendence to our wedding.</div>
    </div>
</div>
<div class="clearfix"></div>

<div id="gift">
    <div class="heading">Gift Registry</div>
    <div class="paragraph">We’re simpl greatful for your presence to celebrate the occasion with us!
If you would like to get us something, we’d love that too....we are registered at</div>
    <div class="images">
        <div class="mpr"><img  src="/assets/images/mrp.png" width="100%"></div>
        <a  href="https://www.boardmans.co.za/giftregistry/view/index/id/RW000021547/"class="boardmans"><img  src="/assets/images/boardmans.png" width="100%"></a>
    </div>
</div>

<div class="clearfix"></div>

<div id="gallery">
  <div class="heading">Capured Moments</div>
  
  <div class="gallery-slider">
    <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/1.jpg" width="100%"/></div>
    </div>
        <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/2.jpg"width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/3.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/4.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/5.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/6.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/7.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/8.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/9.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/10.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/11.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/12.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/13.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/14.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/15.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/16.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/17.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/18.jpg" width="100%"/></div>
    </div>
     <div class="slider-item">
      <div class="image1"><img src="/assets/images/slider/19.jpg" width="100%"/></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

{% endblock content %}
