{% extends "base.html" %}
{% block content %}

<div class="form_attend">
  <div class="heading">Rsvp</div>
<form method="POST" class="post-form">
  {% csrf_token %}
  {% for guest in guests %}
  <div class="name">First name:<br>{{guest.first_name}}</div>
  <div class="l_name"> Last name:<br>{{guest.last_name}}</div>
 <input type="checkbox" name="attending_{{guest.first_name}}_{{guest.last_name}}" value="yes"> Attending<br> 
  <div class="line"></div>
  {% endfor %}
<button type="submit" class="save btn btn-default">Submit</button>
</form>

  
</div>
<div id="when">
        <div class="heading">When &amp; Where</div>
        <div class="details"><span style="font-weight:bold;">2:00pm</span><br><br><span style="font-weight:bold;">Greensleeves</span><br>Camelot Castle<br>1 Widhart Road,<br>Hillcrest</div>
</div>
<div class="clearfix"></div>
<div id="map_details">
    
        <a href="https://www.google.co.za/maps/dir/''/GREENSLEEVES+AT+CAMELOT,+21+Wishart+Rd,+Albany,+Hillcrest,+3610/@-29.7631265,30.7020465,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x1ef6fb10d695b8d3:0xa302f266b4c46e75!2m2!1d30.7720867!2d-29.7631449" class="gradient" target="_blank"></a>
  <div class="clearfix"></div>
        <a href="https://www.google.co.za/maps/dir/''/GREENSLEEVES+AT+CAMELOT,+21+Wishart+Rd,+Albany,+Hillcrest,+3610/@-29.7631265,30.7020465,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x1ef6fb10d695b8d3:0xa302f266b4c46e75!2m2!1d30.7720867!2d-29.7631449" target="_blank" id="map"></a>
</div>

{% endblock content %}