{% extends "base.html" %}
{% block content %}

<div class="form_attend">
  <div class="heading">Rsvp</div>
<form method="POST" class="post-form">
  {% csrf_token %}
  {% for guest in guests %}
  <div class="name">First name:<br>{{guest.first_name}}</div>
  <div class="l_name"> Last name:<br>{{guest.last_name}}</div>
 <input type="checkbox" name="attending_{{guest.first_name}}_{{guest.last_name}}" value="yes"> Attending<br> 
  <div class="line"></div>
  {% endfor %}
<button type="submit" class="save btn btn-default">Submit</button>
</form>

  
</div>
<div id="when">
        <div class="heading">When &amp; Where</div>
        <div class="details"><span style="font-weight:bold;">2:00pm</span><br><br><span style="font-weight:bold;">Greensleaves</span><br>Camelot Castle<br>1 Wilshart Road,<br>Hillcrest</div>
</div>
<div class="clearfix"></div>
<div id="map_details">
    
        <a href="https://www.google.co.za/maps/place/Greensleeves+Medieval+Kingdom+at+Camelot/@-29.7608405,30.7686882,17z/data=!3m1!4b1!4m5!3m4!1s0x1ef6fb174ef90899:0x8a6f88276fd188a2!8m2!3d-29.7608452!4d30.7708822?hl=en" class="gradient" target="_blank"></a>
  <div class="clearfix"></div>
        <a href="https://www.google.co.za/maps/place/Greensleeves+Medieval+Kingdom+at+Camelot/@-29.7608405,30.7686882,17z/data=!3m1!4b1!4m5!3m4!1s0x1ef6fb174ef90899:0x8a6f88276fd188a2!8m2!3d-29.7608452!4d30.7708822?hl=en" target="_blank" id="map"></a>
</div>

{% endblock content %}